# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# IDE and editor folders
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
*.lcov

# Miscellaneous
*.tgz
*.gz
*.zip
*.tar

# Local configuration files
*.local
